body {
  padding: 10px;
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
}
.input {
  width: 300px;
}
.search-container {
  display: flex;
}
img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-list {
  width: 50%;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}
#button {
  margin: 1em;
}
